<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>

        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/infojunkie" rel="noopener noreferrer" target="_blank">
              <i class="fab fa-github" aria-hidden="true"></i>
              infojunkie
            </a>
          </li>
          <li>
            <a href="https://youtube.com/user/djkerrrrr" rel="noopener noreferrer" target="_blank">
              <i class="fab fa-youtube" aria-hidden="true"></i>
              djkerrrrr
            </a>
          </li>
          <li>
            <a href="https://soundcloud.com/infojunkie" rel="noopener noreferrer" target="_blank">
              <i class="fab fa-soundcloud" aria-hidden="true"></i>
              infojunkie
            </a>
          </li>
          <li>
            <a href="https://musescore.com/infojunkie" rel="noopener noreferrer" target="_blank">
              <i class="fa fa-music" aria-hidden="true"></i>
              MuseScore
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="footer-col">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
    </div>

  </div>

</footer>
