<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            <a href="/assets/CV-KarimRATIB.pdf">
              my resume
            </a>
          </li>
          <li>
            <a href="https://github.com/infojunkie/blog" rel="noopener noreferrer" target="_blank">
              blog source
            </a>
          </li>
        </ul>

        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://thereisamoduleforthat.com" rel="noopener noreferrer" target="_blank">
              <img src="/assets/tmft.svg">
              There's a module for that!
            </a>
          </li>
          <li>
            <a href="https://github.com/infojunkie" rel="noopener noreferrer" target="_blank">
              {% fa_svg fab.fa-github %}
              GitHub
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/@KarimRatib" rel="noopener noreferrer" target="_blank">
              {% fa_svg fab.fa-youtube %}
              YouTube
            </a>
          </li>
          <li>
            <a href="https://musescore.com/infojunkie" rel="noopener noreferrer" target="_blank">
              {% fa_svg fas.fa-music %}
              MuseScore
            </a>
          </li>
          <li>
            <a href="mailto:karim.ratib@gmail.com">
              {% fa_svg far.fa-envelope %}
              email
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
      </div>
    </div>

    <div class="footer-col">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
    </div>

  </div>

  {% fa_svg_generate %}

</footer>
