div.emphasis {
  border: 1px solid #d1d5da;
  border-radius: 6px;
  padding: 5px;
  margin-bottom: 10px;
}

figure {
  display: inline-block;
}

a.header {
  color: inherit;
}

a.header:hover {
  text-decoration: none;
}