---
layout: default
---

<div class="category">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  {{ content }}

  <ul class="post-list">
    {%- assign posts = site.posts | where_exp: "post", "post.category == page.category" -%}
    {% for post in posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>

        {%- assign excerpt = post.excerpt | unchangelogify | extlinks | truncatewords: 50 -%}
        {{ post.description | extlinks | default: excerpt }}
      </li>
    {% endfor %}
  </ul>

</div>
